name: lab
topology:
  nodes:
{%- for node in nodes %}
    {{ node.node_name }}:
      kind: {{ node.node_type.kind }}
      image: {{ node.node_type.image }}
      {%- if node.node_type.type == "frr" %}
      cap-add:
        - NET_ADMIN
        - SYS_ADMIN
      {%- endif %}
      binds:
        - configs/{{ node.node_name }}.sh:/configs/{{ node.node_name }}.sh
      exec:
        - /configs/{{ node.node_name }}.sh
{%- endfor %}
  links:
{%- for link in links %}
    - endpoints: [ "{{ link.endpoint1 }}", "{{ link.endpoint2 }}" ]
{%- endfor %}
